

*{
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  --background-image: url("./public/images/background.webp");
}

main {
  --screen-heigth: 100vh;
  --screen-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  height: var(--screen-heigth);
  width: var(--screen-width);

}

#nutrify-page{
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.background{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}


#background-wave{
  animation: initWave 2s;
}



#background-men{
  top: 50vh;
}

@keyframes initWave{
  0%{
    height: 0;
  }

  100%{
    height: calc(var(--screen-heigth)*2);
  }
}

nav{
  width: fit-content;
  height: fit-content;
  margin: 5vh auto;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  margin-right: 20px;
  cursor: pointer;
}

footer{
  width: 100vw;
  height: fit-content;
  z-index: 1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
}

.blob > svg{
  height: 13vh;
  width: 8vw;
  cursor: pointer;
  transition: box-shadow 10s ease;
}

.blob:hover > svg{
  transition: 500ms;
  filter: url("#shadowHover")
}

