
footer{
  width: 100vw;
  height: fit-content;
  z-index: 3;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  position: fixed;
  top: 87vh;
}

.blob > svg{
  height: 13vh;
  width: 8vw;
  cursor: pointer;
  transition: box-shadow 10s ease;
}

.blob:hover > svg{
  transition: 500ms;
  filter: url("#shadowHover")
}

@media (max-width: 768px) {
  .blob{
    width: fit-content;
    height: fit-content;
  }

  .blob > svg{
    width: 16vw;
    height: 16vw;
    cursor: pointer;
    transition: box-shadow 10s ease;
  }

  footer{
    display: flex;
    justify-content: center;
    top: 80vh;
    align-items: center;
    height: 16vw;
  }
}
